<mat-toolbar class="fixed-top">
  <mat-toolbar-row>
    <a [routerLink]="['event']"><img class="brand-logo" src="../../../assets/logo.png" alt="OVG"/></a>
    <span class="spacer"></span>
    <a class="icon"><mat-icon class="toolbar-icon" aria-hidden="false" aria-label="notifications">notifications</mat-icon></a>
    <a class="icon"><mat-icon class="toolbar-icon" aria-hidden="false" aria-label="messages">mail</mat-icon></a>
    <a class="icon"><mat-icon class="toolbar-icon" aria-hidden="false" aria-label="friends">group</mat-icon></a>
    <a class="icon" [matMenuTriggerFor]="menu"><mat-icon class="toolbar-icon" aria-hidden="false" aria-label="messages">account_circle</mat-icon></a>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>Profil</span>
      </button>
      <button mat-menu-item>
        <mat-icon>settings_applications</mat-icon>
        <span>Mon compte</span>
      </button>
      <button mat-menu-item>
        <mat-icon>power_settings_new</mat-icon>
        <span>Déconnexion</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
